.container{
    box-sizing: border-box;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.container .services h1{
    font-size: 48px;
    text-align: center;
    
}

.container .services p{
    font-size: 16px;
    text-align: center;
    padding-bottom: 15px;
    
}

.gadgets{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
     
}

#imgcaption{
    text-align: center;
    background-color: white;
    border: 1px soid black;
    margin-top: -70px;
    position: relative;
    margin-left: 25px;
    margin-right: 25px;
    padding: 15px;
    
}

#imgcaption a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    
}

/* OUR SERVICES */

.service{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.service .components{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    

}

.service .components .component1{
    background-color: #EBEBEB;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;

}
.service .components .component1 .component1a{
    background-color: #D4D4DC;
    padding: 10px;
    border-radius: 5px;

}

.service .components .component1 .component1b p{
    color: #545259;
    font-size: 20px;
}
.service .components .component1 .component1b h3{
    color: black;
    font-size: 22px;
}

.service .components .component2{
    background-color: #EBEBEB;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}
.service .components .component2 .component2a{
    background-color: #E8DCCD;
    padding: 10px;
    border-radius: 5px;

}
.service .components .component2 .component2b p{
    color: #545259;
    font-size: 20px;
}
.service .components .component2 .component2b h3{
    color: black;
    font-size: 22px;
}


.service .components .component3{
    background-color: #EBEBEB;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;

}
.service .components .component3 .component3a{
    background-color: #D4D4DC;
    padding: 10px;
    border-radius: 5px;

}

.service .components .component3 .component3b p{
    color: #545259;
    font-size: 20px;
    
}
.service .components .component3 .component3b h3{
    color: black;
    font-size: 22px;
}

.service .components .component4{
    background-color: #EBEBEB;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}
.service .components .component4 .component4a{
    background-color: #E8DCCD;
    padding: 10px;
    border-radius: 5px;

}
.service .components .component4 .component4b p{
    color: #545259;
    font-size: 20px;
    
}
.service .components .component4 .component4b h3{
    color: black;
    font-size: 22px;
}

button{
    border-radius: 10px;
    font-size: 18px;
    padding: 15px;
    width: 100%;
    border: 2px solid #31316D;
    position: relative;
}
button a{
    text-decoration: none;
    color: #31316D;
}

/* Easy D-I-Y Gadget Tips */

.DIY .gadgets{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    

}

.DIY .gadgets .gadget1{
    background-color: #EBEBEB;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;

}
.DIY .gadgets .gadget1 .gadget1a{
    background-color: #D4D4DC;
    padding: 10px;
    border-radius: 5px;

}

.DIY .gadgets .gadget1 .gadget1b p{
    color: #545259;
    font-size: 20px;
}
.DIY .gadgets .gadget1 .gadget1b h3{
    color: black;
    font-size: 22px;
}

.DIY .gadgets .gadget2{
    background-color: #EBEBEB;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}
.DIY .gadgets .gadget2 .gadget2a{
    background-color: #E8DCCD;
    padding: 10px;
    border-radius: 5px;

}
.DIY .gadgets .gadget2 .gadget2b p{
    color: #545259;
    font-size: 20px;
}
.DIY .gadgets .gadget2 .gadget2b h3{
    color: black;
    font-size: 22px;
}


.DIY .gadgets .gadget3{
    background-color: #EBEBEB;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;

}
.DIY .gadgets .gadget3 .gadget3a{
    background-color: #D4D4DC;
    padding: 10px;
    border-radius: 5px;

}

.DIY .gadgets .gadget3 .gadget3b p{
    color: #545259;
    font-size: 20px;
    
}
.DIY .gadgets .gadget3 .gadget3b h3{
    color: black;
    font-size: 22px;
}

.DIY .gadgets .gadget4{
    background-color: #EBEBEB;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}
.DIY .gadgets .gadget4 .gadget4a{
    background-color: #E8DCCD;
    padding: 10px;
    border-radius: 5px;

}
.DIY .gadgets .gadget4 .gadget4b p{
    color: #545259;
    font-size: 20px;
    
}
.DIY .gadgets .gadget4 .gadget4b h3{
    color: black;
    font-size: 22px;
}

.DIY .gadgets button{
    border-radius: 10px;
    font-size: 18px;
    padding: 13px;
    width: 40%;
    border: 2px solid #31316D;
    position: relative;
}
.DIY .gadgets button a{
    text-decoration: none;
    color: #31316D;
}


/* @media screen and(max-width:500px) {

    .gadgets{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
         
    }
    .gadgets .gadget1{
        margin: 10px;
         
    }
} */